<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmileGalleryMockUp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body ng-app="app">

<nav class="navbar navbar-default navbar-static-top" sg-auth-checker>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">SmileGallery</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-if="!auth">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/register">Register</a></li>
                        <li><a href="#/login">Login</a></li>
                        <li><a href="" ng-click="authFacebook()">Facebook</a></li>
                        <li><a href="" ng-click="authTwitter()">Twitter</a></li>
                    </ul>
                </li>
                <li ng-if="auth">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/user/{{auth.$id}}">Info</a></li>
                        <li><a href="" ng-click="unAuth()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ng-view></ng-view>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
<script src="/js/ngImgur.min.js"></script>
<script src="/js/app.factory.js"></script>
<script src="/js/app.directive.js"></script>
<script src="/js/app.controller.js"></script>
<script src="/js/app.js"></script>
</body>
</html>